@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;
@use "/src/styles/mixins.scss" as *;

.panel {
    grid-area: panel;
    position: relative;
    height: 100%;
    width: 100%;
    @include scroll-bar;
    padding: 1rem;
}
