.loader {
    fill: currentColor;
    animation: rotate ease 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    } 25% {
        transform: rotate(90deg);
    } 50% {
        transform: rotate(180deg);
    } 75% {
        transform: rotate(240deg);
    } 100% {
        transform: rotate(360deg);
    }
}