@use "/src/styles/mixins.scss" as *;

.boards__nav {
  display: grid;
  max-height: calc(100vh - 8.375em);
  max-height: calc(100svh - 8.375em);
  overflow: auto;
  padding: 1em 2em 1em 0;
  @include scroll-bar;
}