@use "/src/styles/variables.scss" as *;
@use "/src/styles/mixins.scss" as *;

.boards__nav {
  display: grid;
  grid-auto-rows: min-content;
  height: 100%;
  overflow: auto;
  transition: $trans;
  @include scroll-bar;
  padding-right: 3rem;
}
