@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.board {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  gap: 0.25em;
  width: 100%;
  text-decoration: none;
  font-weight: 700;
  color: $gray;
  border-radius: 0 $br $br 0;
  transition: $trans;
  padding: 0.75rem;

  &_active {
    color: $white;
    background-color: $violet-100;
  }

  &__title {
    font-size: 1.2em;
  }

  &:not([class$="_active"]):hover {
    color: $white;
  }

  :first-child {
    height: 100%;
  }
}
