@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;
@use "/src/styles/mixins.scss" as *;

.board {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    padding-block: 1rem;

    &__wrapper {
        @include panel;
        padding: 1rem;
    }
}

@include desktop {
    .board {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@include desktop-big {
    .board {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
}