@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.board {
  display: grid;
  grid-template-columns: 2em 1fr;
  align-items: center;
  text-decoration: none;
  color: $gray;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0 $br $br 0;
  transition: $trans;
  padding: 1rem;

  &_active {
    color: $white;
    background-color: $violet-100;
  }

  &:not([class$="_active"]):hover {
    color: $white;
  }
}
