@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.board {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  gap: 0.25em;
  width: 100%;
  text-decoration: none;
  font-weight: 700;
  color: $gray;
  border-radius: 0 $br $br 0;
  transition: $trans;
  padding: 1rem;

  &[data-current="true"] {
    color: $white;
    background-color: $violet-100;
  }

  &__title {
    font-size: 1.2em;
  }

  &:not([data-current="true"]):hover {
    color: $white;
  }

  :first-child {
    height: 100%;
  }

  :nth-child(3n) {
    height: 100%;
    visibility: hidden;
    transition: $trans;
    opacity: 0;
  }
}


@media screen and (min-width: $bp) {
  .board {
    &[data-current="true"]:hover {
      :nth-child(3n) {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}