$white: hsl(0, 0%, 100%);
$gray: hsl(224, 10%, 55%);
$red: hsl(0, 100%, 52%);
$violet-100: hsl(244, 81%, 65%);
$violet-200: hsl(243, 47%, 57%);
$violet-300: hsl(240, 16%, 30%);
$violet-400: hsl(240, 21%, 22%);
$violet-500: hsl(240, 26%, 18%);
$black50: hsla(0, 0%, 0%, 0.5);
