@use "./variables.scss" as *;
@use "./colors.scss" as *;

.form {
  display: grid;
  gap: 0.5em;

  &__title {
    margin: 0;
  }

  &__label {
    position: relative;
    display: grid;
    gap: 0.5em;
    padding-bottom: 1.5em;

    &__title {
      font-weight: 700;
    }
  }

  &__input {
    border: $border;
    border-radius: $br;
    background-color: $violet-400;
    padding: 0.3em 1em;
  }

  &__submit {
    width: 100%;
    font-weight: 700;
    color: $white;
    border-radius: $br;
    background-color: $violet-200;
    padding: 0.3em 1em;

    &:hover {
      background-color: $violet-100;
    }
  }

  &__error {
    position: absolute;
    z-index: -1;
    bottom: 0;
    color: $red;
    animation: error-in $trans;
    padding-left: 0.5em;
  }
}

@keyframes error-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
