@use "./variables.scss" as *;
@use "./colors.scss" as *;

.form {
  display: grid;

  &__title {
    margin: 0;
  }

  &__label {
    position: relative;
    display: grid;
    gap: 0.5em;
    padding-bottom: 1.5em;

    &__title {
      font-weight: 700;
    }
  }

  &__input {
    font: inherit;
    color: inherit;
    outline: none;
    border: $border;
    border-radius: $br;
    background-color: transparent;
    padding: 0.3em 1em;
  }

  &__submit {
    width: 100%;
    font: inherit;
    font-weight: 700;
    color: $white;
    border: none;
    border-radius: $br;
    background-color: $violet-200;
    cursor: pointer;
    padding: 0.3em 1em;

    &:hover {
      background-color: $violet-100;
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    color: $red;
    padding: 0.25em 0 0.25em 0.5em;
  }
}