@use "./colors.scss" as *;

@mixin scroll-bar {
    overflow: auto;
    
    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient($gray, transparent);
        border-radius: 20px;
    }
}

@mixin panel {
    grid-area: panel;
    position: relative;
    width: 100%;
    @include scroll-bar;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
