@use "/src/styles/variables.scss" as *;
@use "/src/styles/mixins.scss" as *;

.layout {
    display: grid;
    grid-template-areas: 
    "header"
    "panel";
    grid-template-rows: min-content 1fr;
    height: 100vh;
    height: 100svh;
}

@include desktop {
    .layout {
        grid-template-areas: 
            "navbar header"
            "navbar panel";
        grid-template-columns: max-content 1fr;
    }
}
