@use "/src/styles/colors.scss" as *;
@use "/src/styles/mixins.scss" as *;

.tasks__panel {
    grid-area: panel;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-content: flex-start;
    height: 100%;
    overflow: auto;
    padding: 1rem;
    margin: 0;
    @include scroll-bar;

    &__plug {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        font-weight: 900;
        color: $gray;
        width: 100%;
        height: 100%;
        margin: 0;

        p {
            margin: 0;
        }
    }
}
