@use "/src/styles/variables.scss" as *;

.wrapper {
    display: grid;
    grid-template-areas: 
    "header"
    "panel";
    grid-template-rows: min-content 1fr;
    height: 100vh;
    height: 100svh;
}

@media screen and (min-width: $bp) {
    .wrapper {
        grid-template-areas: 
            "navbar header"
            "navbar panel";
        grid-template-columns: max-content 1fr;
    }
}
