@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.create-board {
    font-size: 1.2em;
    text-align: left;
    font-weight: 700;
    color: $violet-200;
    border-radius: 0 $br $br 0;
    height: fit-content;
    padding: 1rem;
    margin-right: 3rem;

    &:hover {
      color: $white;
      background-color: $violet-100;
    }
}