@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2.5em 1fr auto;
  gap: 0.25rem;
  align-items: center;
  background-color: $violet-400;
  border-bottom: $border;
  width: 100%;
  transition: $trans;
  padding: 1rem;

  &__active {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;

    &__title {
      font-size: 2em;
      font-weight: 900;
      cursor: pointer;
      transition: $trans;
      margin: 0;

      &:hover,
      &:focus {
        color: $violet-200;
      }

      &:active {
        color: $violet-100;
      }
    }
  }

  &__button {
    font-weight: 700;
    background-color: $violet-200;
    border-radius: $br;
    padding: 0.5rem 1rem;

    &__text {
      display: none;
    }

    &:hover {
      background-color: $violet-100;
    }
  }

  &_empty {
    visibility: hidden;
    transform: translateY(-100%);
  }
}

@media screen and (min-width: $bp) {
  .header {
    grid-template-columns: 2.5em max-content;
    justify-content: space-between;

    & > :first-child {
      display: none;
    }

    &__button {
      &__text {
        display: inline;
      }
    }
  }
}
