@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.header {
  display: grid;
  grid-template-columns: minmax(1em, 30px) max-content auto;
  gap: 0.25rem;
  align-items: center;
  background-color: $violet-400;
  border-bottom: $border;
  transition: $trans;
  animation: in forwards $trans;
  padding: 1rem;

  &__wrapper {
    grid-area: header;
  }

  &__title {
    font-size: 2em;
    font-weight: 900;
  }

  &__editable {
    position: relative;
    display: grid;
    grid-template-columns: auto minmax(1em, 20px);
    align-items: center;
    gap: 0.5rem;

    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      height: 1px;
      width: 100%;
      transition: $trans;
    }

    &:hover,
    &:focus {
      color: $violet-200;

      &::after {
        background-color: $violet-200;
      }
    }

    &:active {
      color: $violet-100;
    }
  }

  &__button {
    font-weight: 700;
    background-color: $violet-200;
    border-radius: $br;
    margin-left: auto;
    padding: 0.5rem 1rem;

    &__text {
      display: none;
    }

    &:hover {
      background-color: $violet-100;
    }
  }
}

@media screen and (min-width: $bp) {
  .header {
    grid-template-columns: auto auto;
    justify-content: space-between;

    & > :first-child {
      display: none;
    }

    &__button {
      &__text {
        display: inline;
      }
    }
  }
}

@keyframes in {
  from {
    transform: translateY(-100%);
  } to {
    transform: translateY(0);
  }
}