@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.subtasks {
    display: grid;

    &__button {
        font-weight: 700;
        background-color: $violet-200;
        border-radius: $br;
        padding: 0.5rem 1rem;

        &:hover {
            background-color: $violet-100;
        }
    }
}

.subtask {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-auto-rows: min-content;

    &__remove {
        height: 2em;
    }
}