@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;

.sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  grid-row: 1 / -1;
  display: grid;
  grid-auto-rows: min-content;
  background-color: $violet-400;
  border-right: $border;
  transition: $trans;

  &__presentation {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
    gap: 0.25em;
    padding: 1em 2em 1em 0;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: 2em;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: $violet-400;
    margin: 0;
  }

  &__subtitle {
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: 900;
    color: $gray;
    text-transform: uppercase;
    margin: 0;
    padding: 1em 0 0 1.3em;
  }

  &__logo {
    height: 2em;
    padding-left: 1em;
  }

  &__button {
    text-align: left;
    font-weight: 700;
    color: $violet-200;
    border-radius: 0 $br $br 0;
    padding: 0.625em 1em;
    margin-right: 2em;

    &:hover {
      color: $white;
      background-color: $violet-100;
    }
  }

  &[aria-hidden="true"] {
    transform: translateX(-100vw);

    .sidebar__logo {
      transform: translateX(100vw);
    }
  }
}

@media screen and (min-width: $bp) {
  .sidebar {
    position: static;
  }
}
