@use "/src/styles/variables.scss" as *;
@use "/src/styles/colors.scss" as *;
@use "/src/styles/mixins.scss" as *;

.form {
    display: grid;
    gap: 0.5em;

    &__title {
        margin: 0;
    }

    &__controls {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-auto-rows: min-content;
        justify-content: space-between;
        border: none;
        padding: 0;
        margin: 0;
    }

    &__label {
        position: relative;
        display: grid;
        gap: 0.5em;
        padding-bottom: 1.5em;

        &__title {
            font-weight: 700;
            margin: 0;
        }

        &_no-err {
            padding-bottom: 0;
        }
    }

    &__textarea {
        @include scroll-bar;
        resize: none;
        height: 100px;
    }

    &__input {
        border: $border;
        border-radius: $br;
        background-color: $violet-400;
        padding: 0.3em 1em;

        &_select {
            appearance: none;
        }
    }

    &__select {
        appearance: none;
        position: relative;

        &-appearance {
            position: absolute;
            height: 1em;
            width: 1em;
            right: 1em;
            bottom: 2em;
            transition: $trans;
            pointer-events: none;
        }

        &:hover &-appearance {
            color: $violet-100;
        }
    }

    &__check {
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &__box {
            height: 1em;
            width: 1em;
            border: $border;
            border-radius: 5px;
        }

        &__input {
            @include visually-hidden;
        }

        &__input:checked + &__box {
            background-image: url("/src/assets/svg/check.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 65%;
            background-color: $violet-100;
        }

        &__input:not(:checked):hover + &__box {
            background-color: $violet-400;
        }

        &__input:focus + &__box {
            outline: 1px solid currentColor;
        }
    }

    &__submit {
        font-weight: 700;
        color: $white;
        border-radius: $br;
        background-color: $violet-200;
        padding: 0.2em 1em;

        &:hover {
            background-color: $violet-100;
        }
    }

    &__reset {
        display: flex;
        align-items: center;
        transition: $trans;
        cursor: pointer;

        input {
            @include visually-hidden;
        }

        :last-child {
            height: 65%;
        }

        &:hover {
            color: $violet-100;
        }
    }

    &__error {
        position: absolute;
        z-index: -1;
        bottom: 0;
        color: $red;
        animation: error-in $trans;
        padding-left: 0.5em;
    }
}

@keyframes error-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
